@media (max-width: 480px)
	.page-wrapper img
		max-width 200px

@media (max-width: 767px)
	.days
		div
			div
				flex 1 1 100px

@media (max-width: 920px)
	.dont-exist
		margin 0

@media (max-width: 1200px)
	.welcome-box h1
		font-size 34px

@media (max-width: 1920px)
	.dont-exist
		margin 0
