base-primary = #12a19a
base-text = #3c3c3b
secondary = #f39200
secondary-text = #A6A6A6
bg-color = #f1f1f1
base-border-color = #D0D0D1

body
  background-color bg-color
  color base-text
  font 16px / 24px "Ubuntu-regular", "Arial", Sans-serif

a
  color base-text
  text-decoration none

.pointer
  cursor pointer
