.welcome-box
	width 75%
	padding 4% 10%
	background-color #001E2D
	opacity 0.8
	color #ffffff
	position absolute
	top 50vh

	h1
		font-size 58px
		text-transform uppercase
		text-align center
		margin 0

form
	position relative
	margin-left 30px

.d5 background: #683B4D, .d5 input, .d5 button
	outline none
	background transparent

.d5 input
	height 32px
	padding-left 15px
	border 3px solid #F9F0DA

.d5 button
	border none
	height 42px
	width 42px
	position absolute
	top 0
	right 0
	cursor pointer

.d5 button:before
	content "\f002"
	font-family FontAwesome
	font-size 16px
	color #F9F0DA

.d5 input:focus
	border-color #311c24
