.welcome-box
	width 75%
	padding 4% 10%
	background-color #001E2D
	opacity 0.8
	color #ffffff
	position absolute
	top 50vh
	h1
		font-size 58px
		text-transform uppercase
		text-align center
		margin 0