body
	background-color #e5e5e5
	margin 10px

.pagination
	display flex

	> div
		display flex
		justify-content center
		align-items center
		width 32px
		height 32px
		background #FFFFFF
		border-radius 10px
		margin-right 8px