body
	margin 0 auto
	background-color #e5e5e5
	max-width 1920px
	min-width 320px
	// overflow hidden

.content-wrapper
	height 100vh

.wrapper
	background-color #F5DEB3

.page-wrapper
	display flex
	flex-direction column
	justify-content center
	align-items center
	padding-bottom 50px

	article
		width 50vw

	img
		max-width 300px

.contact-social
	div
		display flex
		align-items center
		justify-content space-around

		p a
			&:hover
				color #22A6F2

.toTop
	position fixed
	right 100px
	bottom 100px
	display block
	border-radius 15px
	padding 5px
	border-bottom 1px solid navy
	background-color #F5DEB3
	opacity 0.9